@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@500&family=Roboto&family=Rowdies:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bakbak+One&family=Oswald:wght@500&family=Roboto&family=Rowdies:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bakbak+One&family=Oswald:wght@500&family=Press+Start+2P&family=Roboto&family=Rowdies:wght@700&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

img.sound.posi-set {
    width: 42px;
    right: 70%;
    top: 19%;
    z-index: 120;

}

.btn {
    cursor: pointer;
}


.disable {
    pointer-events: none;
    /* opacity: 0.5; */
    filter: brightness(50%);
}

.disable:hover {
    cursor: not-allowed;
}


.overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: transparent;
    z-index: 100;
    display: none;
}



img.btn:hover {
    transform: translate(2px, 2px);
    transition: all ease 0.5;
    box-shadow: none;
}

/* html,
body {
    cursor: url("https://1.bp.blogspot.com/-qbWo9mPKO2Y/YL9utYdQBdI/AAAAAAAAFs4/mtjGu6u2uGwtJsT4gZG4lbhLV1a5lG6OQCLcBGAsYHQ/s0/mouse-f1.png"), auto;
}

a:hover {
    cursor: url("https://1.bp.blogspot.com/-nYv2dLl3oXY/YL9utYBCh8I/AAAAAAAAFtA/wII4lVw5w4k-4isGMY41heTqk8U4TJujgCLcBGAsYHQ/s0/mouse-f2.png"), auto;
} */


html {

    width: 100vw;
    height: 100vh;
    overflow: hidden;
    font-family: 'Roboto', sans-serif;
}

.main {
    background: url('./assets/bg.jpg') top center / cover no-repeat;
    width: 100vw;
    height: 100vh;
    display: flex;
}

.img_ban {
    position: relative;
    width: 94%;
    margin: auto;
    display: flex;
    justify-content: center;
    top: -7%;
}


.chip_list {
    position: absolute;
    display: flex;
    justify-content: space-between;
}


img.main_img {
    margin: auto;
}


.posi-set {
    position: absolute;
}



.btn-vongtron {
    top: 21%;
    animation: rotation 2s infinite linear;
}

input.nhapsotien {
    height: 38px;
    width: 135px;
    border-radius: 50px;
    background-color: black;
    border: none;
    outline: none;
    color: rgb(255 255 255);
    font-size: 23px;
    font-weight: 700;
    margin-left: 4px;
}

input.nhapsotien::placeholder {
    color: white;
}

.posi-set.inputnhapst {
    padding-left: 7px;
    top: 80.75%;
    font-size: 23px;
    font-weight: 700;
    right: 34%;
    color: rgb(255, 255, 255);
    background-color: rgb(0 0 0);
    border-radius: 16px;
}

.dong-ho.posi-set {
    top: 22%;
    display: none;
    left: 33%;
    z-index: 101;
}

img.posi-set.btn-time {
    width: 80px;
    height: 40px;
    left: 202px;
    z-index: 100;
    top: 33px;
}

h1.time.posi-set {
    left: 205px;
    width: 74px;
    text-align: center;
    top: 33px;
    z-index: 111;
    color: rgb(255 0 0);
}

img.btn-xingaugif.posi-set {
    top: 24%;
    z-index: 10;
    /* display: none; */
}

.xingau-list.posi-set {
    display: none;
    top: 37%;
}



img.xingau {
    width: 70px;
    z-index: 20;
}


.btn-tai.active,
.btn-xiu.active {
    box-shadow: 0 0 10px 15px rgb(57, 255, 2);
    background-color: rgb(57, 255, 2);
    border-radius: 100px;
}


.cuoc-tai.pick,
.cuoc-xiu.pick {
    background-color: rgb(212, 15, 15);
}



.img-hoathoa-datcuoc,
.img-hoathoa-batdaudat,
.img-hoathoa-lan,
.img-hoathoa-allin,
.img-hoathoa-huy {
    display: none;
    transform: translateX(150%);
    animation: hoathoa 2s ease-in-out;
}


.img-datcuoc.posi-set {
    z-index: 200;
}


img.chip.btn {
    width: 83px;
    height: fit-content;
}

.chip_list.posi-set {
    top: 80%;
    left: 32%;
}

.ben-tai.posi-set {
    top: 38%;
    left: 30%;
}


.ben-xiu.posi-set {
    top: 38%;
    left: 62%;
}

button.cuoc-tai.posi-set {
    left: -55px;
    top: 80px;
}

button.cuoc-xiu.posi-set {
    top: 80px;
    left: -42px;
}

button.posi-set {
    cursor: pointer;
    font-size: 40px;
    height: 67px;
    width: 206px;
    border-radius: 37px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(0 0 0 / 0%);
    border: none;
    color: #ffffff;
}


button.posi-set:hover {
    opacity: 0.5;
}


.ben-cuoc.posi-set {
    top: 91%;
    display: flex;
    align-items: center;
}


img.posi-set.taixiu {
    top: -10px;
}

img.btn-cuoc.btn {
    margin-left: 10px;
}

.mymns.posi-set {
    top: -8%;
    right: 44%;

}

h1.tien-cuaban {
    position: absolute;
    color: rgb(0 0 0);
    width: 203px;
    padding-left: 49px;
    text-align: center;
    color: rgb(0 0 0);
    font-size: 19px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
}

.demnguoc.posi-set {
    top: 36%;
    background: -webkit-linear-gradient(white, red, yellow);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 119px;
    font-weight: 500;
    font-family: fantasy;
    z-index: 80;

}

h3.footer.posi-set {
    color: rgb(255, 255, 255);
    bottom: -144px;
    text-align: center;
    text-shadow: 0px 2px rgb(0, 0, 0);
    font-size: 11px;
}



img.posi-set.btn-vung {
    left: 120px;
    top: 17px;
    z-index: 99;
}


.posi-set.tiendatben {
    top: 154px;
    left: -12px;
    color: rgb(255, 249, 249);
    font-size: 22px;
    font-weight: 900;
    width: 125px;
    text-align: center;
    display: none;
}


img.dia-trang.posi-set {
    top: -41px;
    right: -101px;
    z-index: 5;
}

.xingau_hienthi {
    display: flex;
    width: 203px;
    justify-content: center;
    top: 37%;
    left: -99px;
    flex-wrap: wrap;
}

@keyframes rotation {
    from {
        transform: rotate(359deg);
    }

    to {
        transform: rotate(0deg);
    }
}



@keyframes hoathoa {
    0% {
        transform: translateX(150%);
    }

    25% {
        transform: translateX(24%);
    }

    50% {
        transform: translateX(24%);
    }

    75% {
        transform: translateX(24%);
    }

    100% {
        transform: translateX(-100%);

    }
}